{% extends 'quotes/base.html' %}


{% block content %}
<h2>Add your favorite quote</h2>
<!-- Добавил start -->
{% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
{% endif %}
<!-- Добавил end -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Quote</label>
            {{form_quote.quote}}
        </div>
        <span>{{form_quote.errors.quote}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Author name</label>
                {{ form_quote.author }}
        </div>
        <span>{{form_quote.errors.author}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Tags</label>
            <p>
                <div class="input-width">
                    <div class="width-setter">
                        <input type="text" name="tags" value=""/>
                    <div>
                </div>  
            </p>
            
            <!-- {{form_tag.name }} -->
        </div>
        <span>{{form_tag.errors.name}}</span>
    </div>
    <button type="submit" class="btn btn-primary">Add quote</button>

    <button type="reset" class="secondary">Reset</button>
</form>

{% endblock %}