{% extends 'quotes/base.html' %}

{% block content %}
<h2>Add your favorite quote</h2>
<!-- Добавил start -->
{% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
{% endif %}
<!-- Добавил end -->
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Quote</label>
            {{form.quote}}
        </div>
        <span>{{form.errors.quote}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Author name</label>
            {{form.fullname}}
        </div>
        <span>{{form.errors.fullname}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Author's born date</label>
            {{form.born_date}}
        </div>
        <span>{{form.errors.born_date}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Author's born location</label>
            {{form.born_location}}
        </div>
        <span>{{form.errors.born_location}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">About author</label>
            {{form.description}}
        </div>
        <span>{{form.errors.description}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Tags</label>
            {{form.tag}}
        </div>
        <span>{{form.errors.tag}}</span>
    </div>
    <button type="submit" class="btn btn-primary">Add quote</button>

    <button type="reset" class="secondary">Reset</button>
</form>

{% endblock %}