{% extends "quotes/base.html" %}
{% load extract %}

{% block content %}
<h3>Viewing tag: <a href="/tag/{{tag}}/">{{tag}}</a></h3>

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author_id|author}}</small>
                <a href="/author/{{quote.author_id}}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote|tagss%}
                <a class="tag" href="/tag/{{tag.name}}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="col-md-4 tags-box">
        <h2>Top Ten tags</h2>
        {% for tag_name in tags %}
        <span class="tag-item">
            <a class="tag" style="font-size: 28px" href="/tag/{{tag_name}}/">{{tag_name}}</a>
        </span>
        {% endfor %}
    </div>
</div>
{% endblock %}